<nav>
    <div class="nav-wrapper teal">
      <a href="#!" class="brand-logo">MV</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">>></i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "2048", games_index_path %></li>
        <li><%= link_to "TinyURL", tinyurls_index_path %></li>
        <li><%= link_to "Golly", root_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "2048", games_index_path %></li>
        <li><%= link_to "TinyURL", tinyurls_index_path %></li>
        <li><%= link_to "Golly", root_path %></li>
      </ul>
    </div>
</nav>