<!DOCTYPE html>
<html>
<head>
  <title>Mindvalley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'materialize', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'materialize' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => "home/navigation" %>
    <div class="container">
		<%= yield %>
    </div>
</body>
</html>
